.recommend-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .recommend-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .recommend-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .recommend-card {
    width: calc(33.33% - 30px); 
    /* width: 300px;  */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }
  
  .recommend-image {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .recommend-info {
    padding: 10px;
  }
  
  .recommend-info h3 {
    margin: 10px 0;
  }
  
  .recommend-info p {
    margin: 5px 0;
  }